<h1>Listing questions</h1>

<table>
  <tr>
    <th>Possible marks</th>
    <th>Question text</th>
    <th>Bonus</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.possible_marks %></td>
    <td><%= question.question_text %></td>
    <td><%= question.bonus %></td>
    <td><%= question.name %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
