<h1>Listing student_tests</h1>

<table>
  <tr>
    <th>Time started</th>
    <th>Time submitted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_tests.each do |student_test| %>
  <tr>
    <td><%= student_test.time_started %></td>
    <td><%= student_test.time_submitted %></td>
    <td><%= link_to 'Show', student_test %></td>
    <td><%= link_to 'Edit', edit_student_test_path(student_test) %></td>
    <td><%= link_to 'Destroy', student_test, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student test', new_student_test_path %>
