<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @section_test.name %>
</p>

<p>
  <b>Description:</b>
  <%= @section_test.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @section_test.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @section_test.end_time %>
</p>

<p>
  <b>Time submitted:</b>
  <%= @section_test.time_submitted %>
</p>


<%= link_to 'Edit', edit_section_test_path(@section_test) %> |
<%= link_to 'Back', section_tests_path %>
